
/.vs
/Mapper/bin
/Mapper/obj
/MapperUI/bin
/MapperUI/obj
/UDPClientTest/bin
/UDPClientTest/obj
Mapper/post-build.bat
MapperUI/post-build.bat
Mapper/Libs/0Harmony.dll
Mapper/Libs/Assembly-CSharp-firstpass.dll
Mapper/Libs/Assembly-CSharp.dll
Mapper/Libs/UnityEngine.CoreModule.dll
Mapper/Libs/UnityEngine.dll
Mapper/Libs/UnityEngine.IMGUIModule.dll
Mapper/Libs/UnityEngine.UI.dll
Mapper/Libs/UnityModManager.dll
MapperUI/Assets/Images/.map.png-autosave.kra
/Mapper/Releases
/Mapper/Releases_Debug
